/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper{
	max-width: 1000px;
	margin:0 auto;
	padding: 0 30px;
}
nav{
	float:right;
	color:white;
	
}
h1{
	font-size: 30px;
	float:left;
	text-transform: uppercase;
}
header{
	background-color: #04396B;
	line-height: 20px;
	padding: 10px;
	color:white;

}
a{
	margin-left: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color:white;

}
.parent:before, .parent:after{
	content: "";
	display: table;
}
.parent:after{
	clear:both;
}
h2{
	font-size: 25px;
	margin-bottom: 10px;
}
p{
	font-size: 20px;
	line-height: 25px;
}
.column1{
	width: 480px;
	float: left;
	margin-top: 20px;




}
img{
	height: 300px;
	width: 300px;
}
.column2{
	width: 250px;
	float: right;
	margin: 20px;

}
body{
	background-color: #6DDB94;
}
footer{
	text-align: center;
	margin-top: 200px;
	background-color: #04396B;
	font-size: 20px;
}
hr{
	box-sizing: border-box;
	border: 2px solid #04396B;
}